@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&family=Tilt+Warp&display=swap');

$font-logo:"Bangers", san-serif;
$font-display:"Tilt Wrap", san-serif;
$font-body:"Roboto", san-serif;

$color-primary: #34495E;
$color-secondary: #3498DB;
$color-background: white;
$color-bottom: #FFFDE7;

* {
    background-color: $color-background;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    height: 10vh;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: $font-logo;
    font-size: 100px;
    a {
        color: $color-primary;
    }   
}

#login-button {
    display: block;
    width: 150px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    border: $color-primary solid 2px;
    font-family: $font-display;
    font-size: 30px;
    font-weight: bold;
    a {
        color: $color-primary 
    }   
}