@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap");
* {
  background-color: white;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo > a {
  font-family: "Bangers", san-serif;
  font-size: 100px;
  color: #34495E;
}

#login-button > a {
  display: block;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: #34495E solid 2px;
  font-family: "Roboto", san-serif;
  font-size: 30px;
  font-weight: bold;
  color: #34495E;
}

.button {
  display: block;
  text-align: center;
  width: 10%;
  padding: 20px 20px;
  color: white;
  background-color: #34495E;
  border-radius: 10px;
}

div {
  text-align: center;
  font-family: "Roboto", san-serif;
  margin: 50px, 50px;
}
div h1 {
  color: #3498DB;
  font-size: 30px;
  margin: 20px 20px;
}
div h2 {
  color: #34495E;
}
div h3 {
  color: #3498DB;
}
div p {
  color: #34495E;
}
div a {
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.bolded {
  font-weight: bold;
  font-size: 1.2em;
}

.bottom {
  display: flex;
  background-color: #FFFDE7;
  flex-direction: column;
  margin-top: 50px;
  font-family: "Roboto", san-serif;
  font-size: 1.2em;
}
.bottom a {
  color: #34495E;
  background-color: #FFFDE7;
  justify-content: space-around;
  margin: 20px 20px;
}