@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap");
* {
  background-color: white;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo > a {
  font-family: "Bangers", san-serif;
  font-size: 100px;
  color: #34495E;
}

#login-button > a {
  display: block;
  width: 150px;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
  border: #34495E solid 2px;
  font-family: "Roboto", san-serif;
  font-size: 30px;
  font-weight: bold;
  color: #34495E;
}

div {
  text-align: center;
  font-family: "Roboto", san-serif;
}
div h1 {
  color: #3498DB;
  font-size: 30px;
  margin: 20px 20px;
}
div h2 {
  color: #34495E;
}
div h3 {
  color: #3498DB;
}