@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&family=Tilt+Warp&display=swap');

$font-logo:"Bangers", san-serif;
$font-display:"Tilt Wrap", san-serif;
$font-body:"Roboto", san-serif;

$color-primary: #34495E;
$color-secondary: #3498DB;
$color-white: white;

a:link,
a:visited {
    text-decoration: none;
}
