@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

$font-logo:"Bangers", san-serif;
$font-body:"Roboto", san-serif;

$color-primary: #34495E;
$color-secondary: #3498DB;
$color-background: white;
$color-bottom: #FFFDE7;

* {
    background-color: $color-background;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    height: 10vh;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo >a {
    font-family: $font-logo;
    font-size: 100px;
    color: $color-primary;   
}

#login-button >a {
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: $color-primary solid 2px;
    font-family: $font-body;
    font-size: 30px;
    font-weight: bold;
    color: $color-primary   
}

.button {
    display: block;
    text-align: center;
    width: 15%;
    padding: 20px 20px;
    color: $color-background;
    background-color: $color-primary;
    border-radius: 10px;
}

div {
    text-align: center;
    font-family: $font-body;
    margin: 50px, 50px;

    h1 {
        color: $color-secondary;
        font-size: 30px;
        margin: 20px 20px;
    }

    h2 {
        color: $color-primary 
    }

    h3 {
        color: $color-secondary
    }

    p {
        color: $color-primary
    }

    a {
        margin: 0 auto;
    }  
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.bolded {
    font-weight: bold;
    font-size: 1.2em;
}

.bottom {
    display: flex;
    background-color: $color-bottom;
    flex-direction: column;
    margin-top: 50px;
    font-family: $font-body;
    font-size: 1.2em;

    a {
        color: $color-primary;
        background-color: $color-bottom;
        justify-content: space-around;
        margin: 20px 20px;
    }
}
